*{
  margin: 0;
  padding: 0;
}

.form{
  background-color: #34eb98;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.form-field{
  padding: 5px 5px;
  margin : 10px 0;
  margin-bottom: 0;
  width: 300px;
}

button{
  padding: 5px 5px;
  margin : 10px 0;
  margin-bottom: 0;
  width: 150px;
  background-color: #048723;
  color: white;
  font-size: 17px;
  border: 2px #048723 solid;
}

button:hover{
  border: 2px #048723 solid;
  background-color: white;
  color: #048723;  
}